body {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 430px;
  justify-content: space-between;
}

.content , .content-extra {
  border: 1px solid black;
  height: 200px;
  overflow: hidden;
  width: 1124px;
}

.p-extra {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

.p-extra:hover {
  font-size: 36px;
}

/* .p-extra {
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-name: pOpacity;
  opacity: 0;
}

.p-extra2 {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: pLeftRight;
} */

/* @keyframes pLeftRight {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 100%;
    width: 100%;
  }
}

@keyframes pOpacity {
  0% {
    color: red;
    font-size: small;
  }

  60% {
    color: blue;
    opacity: 1;
    font-size: xx-large;
  }

  100% {
    color: red;
    font-size: small;
  }
} */

/* .content p {
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: slidein;
  border: 1px solid black;
}

@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300%
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
} */
